<h2>{{title}}</h2>

<form class = "form-input" [formGroup] = "issueForm" (ngSubmit) ="save()">
    <!-- Buttons    -->
        <div class = form-buttons>
            <button class = "btn" mat-raised-button color = "primary" type = "submit"> Submit </button>
            <button *ngIf = "title === 'Add Issue'" class = "btn" mat-raised-button color = "primary" type = "button" 
            (click) = "reset()"> Clear </button>
            <button class = "btn" mat-raised-button color = "primary" type = "button" (click) = "navigateBack()"> 
                Cancel 
            </button>
        </div>   

        <!-- Form data -->
            <br>
            <fieldset class = 'issueDetails'>
                <p>
                    <mat-form-field apperance = 'outline'>
                    <mat-label> User ID </mat-label>
                    <mat-select formControlName = 'userID'>
                        <mat-option *ngFor="let user of userList" [value]="user.userID">
                            {{user.firstName}} {{user.lastName}}
                        </mat-option> 
                    </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field apperance = 'outline'>
                    <mat-label> book ID </mat-label>
                    <mat-select formControlName = 'bookID'>
                        <mat-option *ngFor="let book of bookList" [value]="book.bookID">
                          {{book.bookName}}
                        </mat-option>    
                    </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Issue Date</mat-label>
                        <input matInput [matDatepicker]="issueDate" formControlName = 'issueDate'>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="issueDate"></mat-datepicker-toggle>
                        <mat-datepicker #issueDate></mat-datepicker>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance = "outline"> 
                    <mat-label> Period </mat-label>
                    <input matInput type = number formControlName = "period"> 
                    </mat-form-field>
                </p>
            </fieldset>
            <br>
            <div *ngIf="showSecondForm">
                <fieldset class = 'calculateFine'>
                    <p>
                        <mat-form-field>
                            <mat-label>Return Date</mat-label>
                            <input matInput [matDatepicker]="returnDate" formControlName = 'returnDate'>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="returnDate"></mat-datepicker-toggle>
                            <mat-datepicker #returnDate></mat-datepicker>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance = "outline"> 
                        <mat-label> Fine </mat-label>
                        <input matInput type = number formControlName = "fine"> 
                        </mat-form-field>
                        <br>
                        {{displayMessage}}
                        <button class = "btn" mat-raised-button color = "primary" type = "button" (click) = "sendCalculateFineRequest()">
                             {{buttonName}} 
                        </button>
                    </p>
                </fieldset>
            </div>    
</form>