<!-- Navigation -->
    <div class = "navigation">
        <nav>
            <a routerLink = '/home' routerLinkActive = "active"> Home </a>
            <br>
            <a routerLink = '/book' > Book </a>
            <br>
            <a routerLink = '/user' > User </a>
            <br>
            <a routerLink = '/issue' > Issue</a>
        </nav>
    </div>    

    <!-- Main content -->
<div class = "main">  
    <h1>{{title}}</h1>
    <br>

    <!-- Router Outlet -->
        <router-outlet></router-outlet>
</div>      
